<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
<Appenders>
	<Console name="Console" target="SYSTEM_OUT">
		<PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} %5p --- [%15t] %-40.40c{1.} : %m%n"/>
	</Console>
</Appenders>

<Loggers>
	<Logger name = "org.apache.zookeeper.server.quorum.QuorumCnxManager" level="OFF"></Logger>
	<Logger name = "com.lianjia.fn.commons.lock.DistributedReentrantLock" level="TRACE"></Logger>
	<Root level="trace">
		<AppenderRef ref="Console"/>
	</Root>
</Loggers>
</Configuration>
